body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}

/*.page {*/
/*  // padding: 1.25rem 2.5rem;*/
/*  padding: 2rem 2.5rem;*/
/*}*/

.container {
  --size: 200px;

  &.active {
    background: yellow;
  }

  width: var(--size);
  height: var(--size);
  background: #eee;
  border-radius: 3.5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;

  // .icon-wrapper {
  //   background: red;
  // }
  * {
    // https://stackoverflow.com/questions/7110353/html5-dragleave-fired-when-hovering-a-child-element#21002544
    pointer-events: none;
  }
}

.images {
  display: flex;
  gap: 1.25rem;
  flex-wrap: wrap;

  img {
    // min-width: 200px;
    max-width: 200px;

    width: 100%;
    // max-width: 100%;
    height: auto;
    background-color: #eee;
    display: block;
  }
}